.template {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
    border-radius: 6px;
    min-width: 900px;
    box-shadow: 2px 2px 4px var(--color-light-gray);

    &.dark_mode {
        box-shadow: 2px 2px 4px var(--color-hover-icon);
    }

    &:hover {
        cursor: pointer;
        background-color: var(--light-blue-translucent);
    }

    &__name {
        grid-column-start: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__date {
        grid-column-start: 4;
        justify-self: center;
    }

    &__size {
        grid-column-start: 5;
        justify-self: center;
    }

    &__select {
        grid-column-start: 6;
        justify-self: center;

        height: fit-content;
        width: fit-content;
        border: none;
        background: transparent;
        color: var(--blue);

        transition: 0.3s;

        &.dark_mode {
            color: var(--color-white);

            &:hover {
                cursor: pointer;
                color: var(--color-hover-icon);
            }
        }

        &:hover {
            cursor: pointer;
            color: var(--color-hover-icon);
        }
    }

    &__btns {
        display: flex;
        gap: 15px;
        grid-column-start: 3;
        justify-self: center;
    }

    &__btn {
        height: fit-content;
        width: fit-content;
        border: none;
        background: transparent;

        display: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__delete,
    &__download {
        transition: 0.3s;

        &:hover {
            opacity: 0.75;
        }
    }

    &:hover &__delete,
    &:hover &__download {
        display: block;
    }
}

.template_plate {
    padding: 8px;
    border-radius: 8px;
    width: 150px;
    height: 226px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;

    box-shadow: 2px 2px 4px var(--color-light-gray);

    &.dark_mode {
        box-shadow: 2px 2px 4px var(--color-hover-icon);
    }

    &:hover {
        cursor: pointer;
        background-color: var(--light-blue-translucent);
    }

    &__logo {
        height: 100px;
        width: 100px;
    }

    &__name {
        width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    & > span {
        text-align: center;
        width: 100%;
    }

    &__btns {
        display: flex;
        gap: 15px;
    }

    &__btn {
        height: fit-content;
        width: fit-content;
        border: none;
        background: transparent;

        display: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__delete,
    &__download {
        transition: 0.3s;

        &:hover {
            opacity: 0.75;
        }
    }

    &:hover &__delete,
    &:hover &__download {
        display: block;
    }
}
