.page {
    width: 100%;
    height: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-blue);

    &.dark_mode {
        color: var(--color-hover-icon);
    }
}
