.modal {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 13;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        max-width: 1200px;
        height: auto;
        background-color: var(--bg-guide);
        border-radius: 12px;

        position: relative;

        &.dark_mode {
            background-color: var(--bg-dark-guide);
        }
    }
}
