@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('Inter'),
        url('./assets/fonts/Inter-Regular.otf') format(truetype);
}

@font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    src: local('Inter'), url('./assets/fonts/Inter-Bold.otf') format(truetype);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: local('Inter'), url('./assets/fonts/Inter-Italic.otf') format(truetype);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local('Inter'), url('./assets/fonts/Inter-Light.otf') format(truetype);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --dark-blue: rgb(0, 50, 116);
    --blue: rgb(2, 94, 161);
    --light-blue: rgb(108, 172, 228);
    --light-blue-translucent: rgba(108, 172, 228, 0.6);
    --color-white: #ffff;
    --light-blue-translucent-light: rgba(196, 224, 248, 0.6);

    --bg-dark: rgb(52, 52, 55);
    --color-black: #000;
    --color-gray: #a4a2a2;
    --bg-input: rgb(64 64 64);

    --color-hover-icon: #696969;
    --color-light-gray: #d2cfcf;
    --color-light-light-gray: #f6f2f2;

    --main-bg-dark: rgb(59, 59, 60);

    --orange: #f69d38;
    --light-orange: #ffa970;

    --green: rgb(139, 245, 153);
    --red: rgb(255, 67, 67);

    --bg-guide: rgb(252, 252, 252);
    --bg-dark-guide: #494949;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--color-white);
    overflow-x: hidden;

    &.dark_mode {
        background-color: var(--main-bg-dark);
    }
}

#root {
    height: 100%;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf {
    width: 100%;
    height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}

.overlay.open {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
